{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 36, "knowledge_revision": 166, "git_revision": "", "hash": "07ae3916ada5d19429f23f6e504c4d57", "format-version": 4, "code-base-name": "default", "filename": "geminitasksync/windows/runner/Runner.rc", "revision_history": [{"166": ""}]}