{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 98, "knowledge_revision": 230, "git_revision": "", "hash": "2ced4f6c9a886fd003c9e73470857002", "format-version": 4, "code-base-name": "default", "filename": "geminitasksync/ios/Flutter/Generated.xcconfig", "revision_history": [{"230": ""}]}