{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 124, "knowledge_revision": 260, "git_revision": "", "hash": "645df5bf8903c15569a39fcf49fbc517", "format-version": 4, "code-base-name": "default", "filename": "geminitasksync/ios/Runner/Info.plist", "revision_history": [{"260": ""}]}